/* Styles for the search box */

#sidebar {
    background-color: #0a4b5c;
    border: 1px solid black;
    color: white;
    padding-bottom: 1em;
    text-align: center
}

form#cr-search-form {
  margin: 1em 0em;
}

form#cr-search-form label {
    color: #F2ECDA;
}

#sidebar .deptselector {
    border: solid 1px #999;
    background: white;
    margin: 0 auto;
}

#sidebar .deptselector .inner {
    height: 150px;
    overflow: auto;
}

#sidebar .deptselector label {
    display: block;
    text-align: left;
    color: #222;
    margin: 0em;
    width: 33%;
    float: left;
}

#sidebar .deptselector label input {
    margin: 0em;
}

/* Styles for the search results table */

table.results tr th, table.results tr td {
    padding: 0.2rem 0.1rem;
}

/* Styles for search help page */

.search-example {
    margin-top: -10px;
    font-size: 75%;
    font-style: italic;
}

ul.departments {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

@media only screen and (min-width: 40.063em) {
    ul.departments {
        columns: 2;
        -moz-columns: 2;
        -webkit-columns: 2;
    }
}

.departments li {
    margin: 0;
    padding: 0;
    position: relative;
    width: 30em;
    padding-left: 1.5em;
}

.departments input {
    position: absolute;
    top: 0;
    left: 0;
}

/* Styles for tabs on the side of review pages */

.tabs.vertical dd:first-child {
    border-top: 1px solid black;
}

.tabs.vertical dd:last-child {
    border-bottom: 1px solid black;
}

.tabs.vertical dd {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.tabs.radius.vertical dd:first-child a,
.tabs.radius.vertical dd:first-child span.multi-section-semester {
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

.tabs.radius.vertical dd:last-child a,
.tabs.radius.vertical dd:last-child span.multi-section-semester {
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tabs dd > a,
.tabs dd > span.multi-section-semester {
    display: block;
    background: #efefef;
    color: #222222;
    padding: 0rem 0.5rem;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.tabs dd > a.section-link {
    text-align: center;
}

.tabs.semesters dd a {
    text-decoration: underline;
}
