@link(name : String, path : String) = {
  <a href="@path">@name</a>
}

@main("Write for the Critical Review") {
  <!-- This needs to be refined. -->
  <h3>Write for the Critical Review</h3>

  <h4>Every course deserves a Critical Review</h4>

  <p>The Critical Review needs your help.  Our reviews are written
  exclusively by students like you.  To be most useful, the Critical
  Review must review every course which returns questionnaires.  That's a
  lot of reviews to write, and without enough writers, we risk leaving
  out courses or delaying the publication of some reviews.</p>

  <p>The Critical Review needs writers for the Fall 2012 semester.
  Please email us or subscribe to our mailing list to learn more.</p>

  <!--
  <p>You've used the Critical Review.  This semester, consider giving back to this great resource.  No experience is needed and the time requirement is relatively low.  Come to our info session and workshop this <strong>Saturday, September 24, 2011 1PM in CIT 265</strong>.</p>
  -->
  <!--
  <h4>Interested in writing for the Critical Review?</h4>
  -->

  <!--

  <p>The Critical Review is always looking for new staff members. All
  training is on-the-job and the time requirement is relatively low,
  as there are only a few required meetings each semester and writers
  can prepare most of their reviews on their own time.</p>

  -->

  <h4>Subscribe to our Mailing List</h4>

  <p>Our public mailing list is a great way to stay informed about
  Critical Review writing opportunities.  It is very low traffic and
  is used only for announcing new writer info sessions, publication
  of new editions, and other major announcements.</p>

  <form action="https://secure.thecriticalreview.org/mailman/subscribe/announce" method="post">
      <div class="row collapse">
          <div class="small-10 columns">
              <input type="text" name="email" placeholder="user@@example.com" />
          </div>
          <div class="small-2 columns">
              <input class="button postfix" type="submit" name="email-button" value="Subscribe"/>
          </div>
      </div>
  </form>

  <!--

  <h4>Getting involved</h4>

  <p>Come to our info session and workshop this <strong>Saturday,
  September 24, 2011 1PM in CIT 265</strong>.</p>
  -->

  <!--

  <p><strong>Activities Fair</strong>  The Critical Review will be
  present at the Activities Fair this fall, in the Olney-Margolius
  Athletic Center (OMAC) from 7-10PM on Thursday, September 4, 2008.
  Stop by our table to learn more, or if you can't make it, email <a
  href="mailto:Critical_Review@@brown.edu">Critical_Review@@brown.edu</a>.</p>

  <p><strong>Prospective Writers Info Session</strong>  We will be
  holding an information session for new and prospective writers on
  <strong>Thursday, February 10, 2011</strong> in <strong>Salomon
  001</strong>.  Email us if you're interested but can't make it.</p>

  -->

  <h4>Email Us</h4>

  <p>For more information about getting involved, email <a href="mailto:Critical_Review@@brown.edu">Critical_Review@@brown.edu</a>.</p>
}


