@()

@main("Searching the Critical Review") {
  <h3>Searching the Critical Review</h3>

  <p>Enter your search criteria in the boxes on the left side of every
  page.</p>

  <h4>Course Code</h4>

  <p>You can enter course codes in any format:</p>

  <ul>
      <li>GEOL0220</li>
      <li>CSCI0310</li>
      <li>CS31</li>
      <li>MATH054</li>
  </ul>

  <p>You can also enter a comma-separated list of departments, such as:
  <strong>HIST, CS, POLS</strong>.</p>

  <h4>Departments</h4>

  <p>If you want to limit your search to certain departments, check them
  off in this box.</p>

  <h4>Recently Reviewed</h4>

  <p>If you check this box, only courses which have been reviewed in the
  last four years will be displayed.</p>
}

