@()

@main("About the Critical Review") {
  <h3>Help</h3>

  <p>What would you like help with?</p>

  <ul>
    <li><a href="/help/search">Searching</a></li>
    <li><a href="/help/review">Reading a Review</a></li>
    <!--
    <li><a href="/help/graphs">Understanding the Graphs</a></li>
    -->
    <li><a href="/help/instructor_names">Instructor Names</a></li>
  </ul>

  <h4>Contact</h4>

  <p>For help with the website, to report a problem, or give feedback, contact
  the webmaster at <a href="mailto:webmaster@@thecriticalreview.org">
  webmaster@@thecriticalreview.org</a>.</p>

  <p>For help with the content of a review, or for questions about the
  organization, please contact <a href="mailto:Critical_Review@@brown.edu">
  Critical_Review@@brown.edu</a>.</p>
}
