@()

@main("Instructor Names") {
  <h3>Instructor Names</h3>

  <h4>Incomplete Names</h4>

  <p>Prior to Fall 2008, Critical Review did not keep precise records of course
  instructor names.  For courses offered since then, we have received official
  instructor names directly from the Registrar's Office and have adopted
  the convention of "<strong>Last, First</strong>" for presenting names.</p>

  <p>In 2011, we manually converted over 6,000 old instructor names
  to match this format.  However, for many courses we had no records
  beyond a last name, and did not have historical data to determine the
  full name.  Fewer than 1,000 reviews remain with incomplete names.
  If you know the complete name of an instructor, please contact
  <a href="mailto:webmaster@@thecriticalreview.org">
  webmaster@@thecriticalreview.org</a>.</p>

  <h4>Multiple Instructors</h4>

  <p>A small number of courses at Brown are taught by more than one instructor.
  However, the data we receive from the Registrar's Office only lists the
  primary instructor for the course.  When students clealy indicate on
  their questionnaires that the course was taught by multiple instructors,
  we update our records to reflect this.  If you notice a course that has
  been incorrectly marked as taught by a single instructor, please contact
  <a href="mailto:webmaster@@thecriticalreview.org">
  webmaster@@thecriticalreview.org</a>.</p>

  <h4>Grad Student Instructors</h4>

  <p>Some course sections at Brown, particular language courses,
  are taught by graduate student instructors.  However, the data
  we receive from the Registrar's Office only lists the course's
  primary instructor, which is usually a professor.  When returned
  questionnaires indicate that the course was taught by a different
  instructor, we update our records to reflect this.  If you notice
  a course which has an incorrect instructor name, please contact
  <a href="mailto:webmaster@@thecriticalreview.org">
  webmaster@@thecriticalreview.org</a>.</p>
}
