@()

@main("Reading a Critical Review") {
  <h3>Reading a Critical Review</h3>

  <h4>The Written Review</h4>

  <p>The prose review consists of four paragraphs that describe the experience
  of the course as related by the students who responded to the questions
  on the back of the Critical Review questionnaires. Instructors' comments
  are also incorporated into the written reviews where applicable and when
  appropriate.</p>

  <p>The first paragraph provides a sense of the curricular content of
  the course and the required background. It also explains how the course
  contributed to respondents' overall educational experiences at Brown.
  The second paragraph summarizes students' comments about the teaching
  methods of the instructor and about their opportunities to get as much
  as possible out of the course. The third paragraph notes the reading and
  assignments in the course, with feedback about how helpful these materials
  were and about how they could be improved. The fourth paragraph provides
  information about the course workload and general suggestions from the
  class to fellow students thinking about enrolling in the course and to
  instructors interested in possible ways of improving it.</p>

  <p>All writers' reviews undergo three rounds of editing, during which they
  are checked for accuracy and objectivity: we do not tolerate bias in the
  writing process. Please use this portion of the review as much, if not
  more than, the bar graph: overall it is more indicative of the character
  and structure of a course than the bar graph and averages, which can only
  provide information from the student responses about particular questions,
  some of which are hardly applicable to certain courses.</p>

  <h4>Averages</h4>

  <p>The <strong>instructor average</strong> is the average response given to
  questions in the instructor section of the questionnaire. The <strong>course
  average</strong> is the average response given to the questions in the
  Structure and Content sections, apart from "Class was difficult" and
  "Good for non-concentrators."</p>

  <p>The averages should not be interpreted as an absolute method of
  judging courses. They will not reflect the experience of every student
  in a particular course or with a particular professor. The degree of
  variation in the responses provided by students, as evident from the bar
  graph itself, is much more important than the averages in determining the
  degree of student satisfaction with a particular course.</p>

  <p><strong>Remember that lower numerical ratings signify stronger agreement
  with the statements on the questionnaire. In other words, a rating of "1"
  is better than a rating of "4."</strong></p>

  <h4>The Bar Graph</h4>

  <img src="/images/graph_example.png" alt="Example of a bar graph"/>

  <p>Numerical ratings of the course are explicitly presented through the bar
  graph chart found under the "Graph" tab.  Each questionnaire statement is
  summarized on the left, and the bar on the right indicates the percentage
  of the class that gave each response.  For example, look at the statement
  "Grading policy was clear and fair." The dark green portion of the bar
  indicates that 15% of the students responded "1" or "<strong>strongly
  agree</strong>" with this statement; the light blue portion indicates
  that about 45% responded "2;" etc. The red represents students who gave
  a response of "4" or "<strong>strongly disagree</strong>."</p>

  <p>The blank space to the right of a bar represents students who gave a
  "<strong>Not Applicable</strong>" response, meaning that the particular
  statement did not apply for the course.  In this example, the bar for the
  statement "Assigned readings worthwhile" only covers about 90% of the
  range. This indicates that 10% of students either did not reply or did
  not think that the statement applied to this particular course.</p>

  <h4>Demographics</h4>

  <p>Course demographics are presented in the form of pie charts under the
  "Demographics" tab.  We report the following information:</p>

  <ul>
      <li><strong>Class</strong>: the years (freshman, sophomore, etc.) of
      class members.  This data is obtained from the Registrar and represents
      the complete enrollment of the class</li>

      <li><strong>Concentrator</strong>: whether respondents are concentrators
      in the department, non-concentrators, or undecided.  This data is
      gathered from questionnaire responses.</li>

      <li><strong>Taking this course for a grade</strong>: whether respondents
      are taking the course for a grade (A, B, C) or S/NC.  This data is
      gathered from questionnaire responses.</li>

      <li><strong>Taking this course to satisfy a requirement</strong>:
      This data is gathered from questionnaire responses.</li>
  </ul>
}
