@main("The Critical Review") {
<h3>What is the Critical Review?</h3>

<p>The Critical Review is a Brown University student organization that
publishes course reviews based on surveys distributed to all students in
every class.  All reviews are held to the highest editorial standards and
are based on the consensus of class members.</p>

<p>We respect instructors' privacy: you must be a member of the Brown
community to read reviews.</p>

<p>The Critical Review is an invaluable resource for the Brown community. We
rely on the continued participation of both instructors and students to
bring it to you.</p>

<p><a href="/about">Learn more about the Critical Review</a> or 
<a href="/help">get help for using this website</a>.</p>
}
